<%- breadcrumb %>

<div class="card">
  <div class="lv-header-alt clearfix m-b-5">
    <h2 class="lvh-label hidden-xs"><%- title %></h2>
    <ul class="lv-actions actions">
      <li>
        <a href="/#projectsAdmin/new" data-toggle="tooltip" data-placement="top" data-original-title="Thêm Yêu cầu mới">
          <i class="zmdi zmdi-plus"></i>
        </a>
      </li>

      <li>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Làm mới danh sách" id="refreshBtn">
          <i class="zmdi zmdi-refresh"></i>
        </a>
      </li>
      <li class="hidden" id="li-hidden">
        <a role="button" data-toggle="tooltip" data-placement="top" data-original-title="Xóa các mục đánh dấu"
          id="btn-delSelection">
          <i class="zmdi zmdi-delete"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="">
    <div>
      <div class="panel-body p-0">
        <div class="tab-content">
          <div role="tabpanel" style="height: 100%" class="tab-pane animated active" id="tab-not-process-ticket">
            <form role="form" id="frm-report-inbound-ticket">
              <table class="table table-bordered table-fix table-hover" id="tbl-ticket" style="overflow:auto">
                <thead>
                  <tr>
                    <th data-sort="none" role="button" class="col-lg-3 bgm-orange c-white text-center sort"
                      style="width: 5%;">
                      TT
                    </th>
                    <th data-sort="none" sortName="name" role="button" class="bgm-orange c-white text-center sort">
                      Tên dự án
                    </th>
                    <th data-sort="none" sortName="field_product_type" role="button"
                      class="bgm-orange c-white text-center sort">
                      thời gian off
                    </th>
                    <!-- <th class="bgm-orange c-white text-center">
                      Tình trạng
                    </th> -->
                    <th class="bgm-orange c-white text-center">
                      CRM
                    </th>
                    <th class="bgm-orange c-white text-center">
                      Voice
                    </th>
                    <th class="bgm-orange c-white text-center">
                      Chat
                    </th>
                    <th class="bgm-orange c-white text-center">
                      Email
                    </th>
                    <th class="bgm-orange c-white text-center">
                      Smart IVR
                    </th>
                    <th class="bgm-orange c-white text-center">
                      SMS
                    </th>
                    <th class="bgm-orange c-white text-center">
                      Phần cứng
                    </th>
                    <th class="bgm-orange c-white text-center">
                      Đường truyền
                    </th>
                    <th class="bgm-orange c-white text-center">
                      IP
                    </th>
                    <th class="bgm-orange c-white text-center">
                      Số lượng Agent
                    </th>
                    <th class="bgm-orange c-white text-center">
                      Thao tác
                    </th>
                  </tr>
                </thead>
                <tbody>
                <tbody class="report-list_body">
                  <%result.forEach((e,i) => {%>
                  <tr id="item">
                    <td class="text-center">
                      <%=i+1%>
                    </td>
                    <td id="id" hidden>
                      <%=e._id%>
                    </td>
                    <td id="id">
                      <%=e.name%>
                    </td>
                    <td></td>
                    <td class="text-center">
                      <%=e.CRM ? "X" : null%>
                    </td>
                    <td class="text-center">
                      <%=e.Voice ? "X" : null%>
                    </td>
                    <td class="text-center">
                      <%=e.Chat ? "X" : null%>
                    </td>
                    <td class="text-center">
                      <%=e.Email ? "X" : null%>
                    </td>
                    <td class="text-center">
                      <%=e.smartIVR ? "X" : null%>
                    </td>
                    <td class="text-center">
                      <%=e.SMS ? "X" : null%>
                    </td>
                    <td>
                      <%=e.hardware ? "X" : null%>
                    </td>
                    <td>
                      <%=e.connection ? "X" : null%>
                    </td>
                    <td>
                      <%=e.IP%>
                    </td>
                    <td>
                      <%=e.agentNumber%>
                    </td>
                    <td class="text-center" style="display: flex; justify-content:space-evenly;" role="button">
                      <div data-toggle="tooltip" data-placement="top" data-original-title="Xoá"> <i id="delete"
                          class="zmdi zmdi-delete text-danger" style="font-size: 2rem;"></i></div>
                      <div data-toggle="tooltip" data-placement="top" data-original-title="Cập nhật"> <i id="update"
                          class="zmdi zmdi-edit text-info" style="font-size: 2rem;"></i></div>
                    </td>
                  </tr>
                  <%});%>
                </tbody>
              </table>
              <div class="text-center" id="ticket-total">
                <!--<b>-->
                <!--<span class="TXT_TOTAL"></span>:-->
                <!--<span class="bold c-red" id="ticket-total">100</span>-->
                <!--</b>-->
              </div>
              <div class="text-center" id="ticket-paging"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% if(paging.pageCount > 1){ %>
    <% include ../paging.ejs %>
    <% } %>
  </div>
</div>
<script>

</script>