<%-breadcrumb%>
<div class="card">
  <div class="card-header">
    <h2 class="m-b-5"><%- title %></h2>
    <small class="text-muted"><i>Những trường có dấu <span class="c-red">*</span> là bắt buộc nhập. </i></small>
  </div>
  <div class="card-body card-padding">
    <div id="warning-message" class="text-center m-b-10 text-danger">

    </div>
    <form class="form-horizontal" id="form-create-report">
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Tên Dự án<span class="required">*</span></label>
        <div class="col-sm-6">
          <select class="fg-line form-control" id="name">
            <%for(let i =0 ; i < result.length ; i++){%>
            <option value="<%=result[i].name%>"><%=result[i].name%></option>
            <%}%>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="position" class="col-sm-3 control-label">Vị trí dự án</span></label>
        <div class="col-sm-6">
          <div class="fg-line">
            <input type="text" value="" class="form-control input-sm" id="position" name="position">
            <input type="hidden" value="" id="updateId">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="CRM" class="col-sm-3 control-label">CRM đang sử dụng</span></label>
        <div class="col-sm-6">
          <div class="fg-line">
            <input type="text" value="Telehub" class="form-control input-sm" id="CRM" name="CRM">
            <input type="hidden" value="" id="updateId">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="type" class="col-sm-3 control-label">Loại sự cố<span
            class="required">*</span></span></label>
        <div class="col-sm-6">
          <select class="fg-line form-control" id="type">
              <option value="-1"> --Chọn-- </option>
            <%for(let i = 0 ; i< listSla.length ; i++){%>
            <option value="<%=listSla[i].name%>" data-typeDisplay="<%=listSla[i].displayName%>">
              <%=listSla[i].displayName%></option>
            <%}%>
          </select>
        </div>
      </div>
      <div class="form-group">
          <label for="type" class="col-sm-3 control-label">Dạng Sự cố</span></label>
          <div class="col-sm-6">
            <select class="fg-line form-control" id="report-description">
              
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="type" class="col-sm-3 control-label">SLA Sự cố</span></label>
          <div class="col-sm-6">
            <input class="fg-line form-control" id="sla" readonly />
          </div>
        </div>
      <div class="form-group">
        <label for="title" class="col-sm-3 control-label">Tiêu đề sự cố<span class="required">*</span></span></label>
        <div class="col-sm-6">
          <div class="fg-line">
            <input type="text" value="" class="form-control input-sm" id="title" name="title">
            <input type="hidden" value="" id="updateId">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-3 control-label">Nội dung sự cố<span class="required">*</span></label>
        <div class="col-sm-6">
          <div class="fg-line">
            <input type="text" value="" class="form-control input-sm" id="description" name="description">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="agentNumberInShift" class="col-sm-3 control-label">Số lượng nhân sự trong ca<span
            class="required">*</span></label>
        <div class="col-sm-6">
          <div class="fg-line">
            <input type="text" value="" class="form-control input-sm" id="agentNumberInShift" name="agentNumberInShift">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="agentNumberInfluence" class="col-sm-3 control-label">Số lượng nhân sự ảnh hưởng<span
            class="required">*</span></label>
        <div class="col-sm-6">
          <div class="fg-line">
            <input type="text" value="" class="form-control input-sm" id="agentNumberInfluence"
              name="agentNumberInfluence">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="agentNumberInfluence" class="col-sm-3 control-label">Mức độ ảnh hưởng</label>
        <div class="col-sm-6">
          <div class="fg-line">
            <input type="text" value="" class="form-control input-sm" id="priorValue"
              name="" readonly>
          </div>
        </div>
      </div>
      <input type="hidden" value="0" id="processTime" >
      <input type="hidden" value="0" id="typeDisplay" >
      <div class="form-group m-b-0">
        <div class="col-sm-offset-3 col-sm-10">
          <a type="button" class="btn btn-default btn-icon-text m-t-10 m-r-10 waves-effect" href="/#reports"><i
              class="m-r-5 zmdi zmdi-arrow-left"></i>Quay lại</a>
              <button type="submit" class="btn btn-primary btn-icon-text m-t-10 waves-effect" data-toggle="modal" id="submitBtn" data-target="#selectEmail">
                Gửi yêu cầu
              </button>
        </div>
      </div>
      <div class="modal fade" id="selectEmail">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">NGƯỜI NHẬN YÊU CẦU</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <div class="column card">
                <header class="text-center">NHÓM XỬ LÝ</header>
                <div id="SupportEmail">

                </div>
              </div>
              <div class="column card">
                  <header class="text-center">NHÂN SỰ</header>
                  <div id="UserEmail">
                  </div>
                </div>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-success" id="createReport" data-dismiss="modal">Gửi</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
      
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  document.querySelector('#type').addEventListener('change', (e) => {

  })
</script>