<%- breadcrumb %>

<div class="card">
  <div class="lv-header-alt clearfix m-b-5">
    <h2 class="lvh-label hidden-xs"><%- title %></h2>
    <ul class="lv-actions actions">
      <li>
        <a href="/#reports/new" data-toggle="tooltip" data-placement="top" data-original-title="Thêm Yêu cầu mới">
          <i class="zmdi zmdi-plus"></i>
        </a>
      </li>

      <li>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Làm mới danh sách" id="refreshBtn">
          <i class="zmdi zmdi-refresh"></i>
        </a>
      </li>
      <li class="hidden" id="li-hidden">
        <a role="button" data-toggle="tooltip" data-placement="top" data-original-title="Xóa các mục đánh dấu"
          id="btn-delSelection">
          <i class="zmdi zmdi-delete"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="">
    <div>
      <div class="panel-body p-0">
        <div class="tab-content">
          <div role="tabpanel" style="height: 100%" class="tab-pane animated active" id="tab-not-process-ticket">
            <form role="form" id="frm-report-inbound-ticket">
              <table class="table table-bordered table-fix table-hover" id="tbl-ticket" style="overflow:auto">
                <thead>
                  <tr>
                    <th data-sort="none" role="button" class="bgm-orange c-white text-center sort" style="width: 5%;">
                      TT
                    </th>
                    <th data-sort="none" sortName="name" role="button" class="bgm-orange c-white text-center sort">
                      Tên Công ty
                    </th>
                    <th data-sort="none" sortName="updatedBy" role="button" class="bgm-orange c-white text-center sort">
                      Người tạo
                    </th>
                    <th data-sort="none" sortName="field_product_type" role="button"
                      class="bgm-orange c-white text-center sort">
                      Loại
                    </th>
                    <th data-sort="none" sortName="status" role="button" class="bgm-orange c-white text-center sort">
                      Tiêu đề
                    </th>
                    <th class="bgm-orange c-white text-center">
                      Trạng thái yêu cầu
                    </th>
                    <th class="bgm-orange c-white text-center">
                      Trạng thái
                    </th>
                    <th class="bgm-orange c-white text-center">
                      Supporter
                    </th>
                    <th class="bgm-orange c-white text-center">
                      Ngày tạo
                    </th>
                    <th class="bgm-orange c-white text-center">
                      Tình trạng
                    </th>
                    <th class="bgm-orange c-white text-center">
                      Chi tiết
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr class="filter" id="search-input" <td class="text-center">

                    </td>
                    <td>
                      <input type="text" class="form-control input-sm searchColumn" name="name" placeholder="VD: 7Home">
                    </td>
                    <td>
                      <input type="text" class="form-control input-sm searchColumn" name="creator"
                        placeholder=" VD: Quy Thang">
                    </td>
                    <td>
                      <select name="type" class="tag-select searchColumn" id="">
                        <option value="" selected>- Chọn -</option>
                        <option value="product">Placeholder</option>
                        <option value="customer-demand">Placeholder</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" class="form-control input-sm searchColumn" name="title"
                        placeholder=" VD: Quy Thang">
                    </td>
                    <td>
                      <select class="tag-select searchColumn" name="status">
                        <option selected value="">- Chọn -</option>
                        <option value="1">Đang xử lý</option>
                        <option value="2">Đã xử lý</option>
                        <option value="0">Chưa xử lý</option>
                      </select>
                    </td>
                    <td>
                      <select class="tag-select searchColumn" name="late">
                        <option selected value="">- Chọn -</option>
                        <option value=false> Đúng hạn </option>
                        <option value=true> Quá hạn </option>
                      </select>
                    </td>
                    <td>
                      <input type="text" class="form-control input-sm searchColumn" name=""
                        placeholder=" VD: Nguyen Quy Thang">
                    </td>
                    <td>
                      <input type="text" class="form-control input-sm searchColumn" name="createdAt" placeholder=" N/A"
                        disabled>
                    </td>
                    <td>
                      <input type="text" class="form-control input-sm searchColumn" name="createdAt" placeholder=" N/A"
                        disabled>
                    </td>
                    <td>
                      <select class="tag-select searchColumn" name="state" style="font-size: 12px;">
                        <option selected value="" style="font-size: 12px;">- Chọn -</option>
                        <option value="Done" style="font-size: 12px;"> Hoàn Thành </option>
                        <option value="Undone" style="font-size: 12px;"> Chưa Hoàn Thành </option>
                      </select>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary btn-block waves-effect" id="btn-search"
                        name="btn-search">
                        <i class="zmdi zmdi-filter-list m-r-5"></i> Lọc
                      </button>
                    </td>
                  </tr>

                <tbody class="report-list_body">
                  <%for(let i=0 ; i < result.length; i ++){
                    let state = ""
                    let disabled = false
                    if(result[i].hasOwnProperty("state")){
                      state = result[i].state
                      disabled = result[i].state == "Undone"
                    }
                    %>
                  <tr id="item" class="<%=state%>">
                    <td class="text-center">
                      <%=i+1%>
                    </td>
                    <td hidden id="id">
                      <%=result[i]._id%>
                    </td>
                    <td>
                      <%=result[i].name%>
                    </td>
                    <td>
                      Nguyen Quy Thang
                    </td>
                    <td class="text-center">
                      <%=result[i].type%>
                    </td>
                    <td class="text-center">
                      <%=result[i].title%>
                    </td>
                    <td class="text-center">
                      <%switch (result[i].status) {
                        case '0':
                          %>Đang chờ<%
                          break;
                        case '1':
                          %><span class="text-info">Đang Xử lý</span><%
                          break;
                        case '2':
                          %><span class="text-success">Đã xử lý</span><%
                          break;
                        default:
                          %><%
                          break;
                      }%>
                    </td>
                    <td>

                    </td>
                    <td>
                      <%if(result[i].hasOwnProperty('supporter')){%>
                      <%=result[i].supporter.name%>
                      <%}%>
                    </td>
                    <td>
                      <%=moment(result[i].createdAt).format("HH:mm - Do MMM YYYY")%>
                    </td>
                    <td class="text-center">
                      <%if(result[i].hasOwnProperty('state')){%>
                      <% if(result[i].state == "Done") {%>
                      <span class="text-success" style="font-weight : bold; font-size : 1.1rem;">Hoàn Thành</span>
                      <%}else{%>
                      <span class="text-danger" style="font-weight : bold; font-size : 1.1rem;">Chưa Hoàn Thành</span>
                      <%}%>
                      <%}%>
                    </td>
                    <td class="text-center" id="detail" role="button">
                      <i class="zmdi zmdi-eye text-success" style="font-size: 2rem;"></i>
                    </td>
                  </tr>
                  <%}%>
                </tbody>
              </table>
              <div class="text-center" id="ticket-total">
                <!--<b>-->
                <!--<span class="TXT_TOTAL"></span>:-->
                <!--<span class="bold c-red" id="ticket-total">100</span>-->
                <!--</b>-->
              </div>
              <div class="text-center" id="ticket-paging"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% if(paging.pageCount > 1){ %>
                  <% include ../paging.ejs %>
                  <% } %>
          </div>
        </div>
        <script>

        </script>