<%- breadcrumb %>
<div class="card">
    <div class="lv-header-alt clearfix">
        <h2 class="lvh-label hidden-xs"><%- title %></h2>
    </div>
    <div class="card-body card-padding">
        <div>Tên dự án: <%- body.name %></div>
        <div>Loại sự cố: <%- body.type %></div>
        <div>Tiêu đề sự cố: <%- body.title %></div>
        <div>Nội dung sự cố: <%- body.description %></div>
        <div class="clearfix"></div>
    </div>
</div>
