<%- breadcrumb %>
<div class="card">
    <div class="card-header">
        <h2 class="m-b-5 "><%- title %></h2>
    </div>
    <div class="card-body card-padding">
        <form role="form" class="form-horizontal" id="frm-edit" >
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Tên dự án :</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" maxlength="60" class="form-control"  value="<%- body.name %>" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Vị trí :</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" maxlength="60" class="form-control"  value="<%- body.position %>" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">CRM đang sử dụng :</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" maxlength="60" class="form-control"  value="<%- body.CRM %>" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Loại sự cố :</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" maxlength="60" class="form-control"  value="<%- body.type %>" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Tiêu đề sự cố :</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" maxlength="60" class="form-control"  value="<%- body.title %>" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Nội dung sự cố :</label>
                <div class="col-sm-6">
                        <textarea type="text" rows="6" class="form-control input-sm" readonly><%- body.description %></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Mức độ lỗi :</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" maxlength="60" class="form-control"  value="<%- body.percentOfInfluence * 100 %> %" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Mức độ ưu tiên xử lý :</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" maxlength="60" class="form-control"  value="<%- body.prior %>" readonly>
                    </div>
                </div>
            </div>

            <%if(body.reason){%>
             <div class="form-group ">
                 <hr width="70%">
                <label for="name" class="col-sm-3 control-label"> Phản hồi của Agent sau xử lý :</label>
                <div class="col-sm-6">
                        <textarea type="text" rows="6" class="form-control input-sm" readonly><%- body.reason %></textarea>
                </div>
            </div>
            <%}%>
           
            <div class="text-center">
                <%if(body.status==0){%>
                    <a class="btn btn-primary waves-effect" data-id="<%- body._id %>" data-status="<%- body._id  %>" data-name="<%- body._id  %>" data-toggle="tooltip" data-placement="top" id="btn-received" name="btn-received">
                        Nhận
                    </a>
                <%}else if(body.status==1){%>
                    <a class="btn btn-primary waves-effect" >
                        Đã nhận
                    </a>
                <%}else if(body.status==2){%>
                    <a class="btn btn-primary waves-effect" >
                            Đã xử lý
                    </a>
                <%}%>
                <a class="btn btn-primary waves-effect btn-response" href="/#support-manager/new?_id=<%- body._id %>" data-id="<%- body._id %>" data-status="<%- body.status %>" data-name="<%- body.name %>" data-toggle="tooltip" data-placement="top" name="btn-response"> Phản hồi</a>
                <a type="button" class="btn btn-default btn-icon-text waves-effect" href="/#support-manager"><i class="zmdi zmdi-arrow-left"></i>Quay lại</a>
            </div>
        </form>
    </div>
</div>
